.answers-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.question-container {
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-color: #dbdef0;
  border-bottom-width: 1px;
}

.question {
  text-align: initial;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 480px) {
  .answers-container {
    gap: 3px;
  }

  .question {
    font-size: 14px;
  }
}
